[Desktop Entry]
Name=pcalc express
Comment=Programmer-focused expression calculator
Exec=run-pcalc-express
Icon=ca.richyoung.pcalcexpress
Terminal=false
Type=Application
Categories=Utility;Calculator;
StartupNotify=true
StartupWMClass=ca.richyoung.pcalcexpress
